# Predictor datasets

In [ ]:
import numpy as np
import xarray as xr

## MODCF data

Dataset: https://www.earthenv.org/cloud

Reading GeoTIFF:
- http://xarray.pydata.org/en/stable/io.html#rasterio
- http://xarray.pydata.org/en/stable/generated/xarray.open_rasterio.html#xarray-open-rasterio

### `intraannualSD`

In [ ]:
# ! wget https://data.earthenv.org/cloud/MODCF_intraannualSD.tif

--2021-01-24 11:27:37--  https://data.earthenv.org/cloud/MODCF_intraannualSD.tif
Resolving data.earthenv.org (data.earthenv.org)... 104.21.34.38, 172.67.196.246
Connecting to data.earthenv.org (data.earthenv.org)|104.21.34.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 700277890 (668M) [image/tiff]
Saving to: ‘MODCF_intraannualSD.tif’

MODCF_intraannualSD 100%[===================>] 667.84M  9.14MB/s    in 64s

2021-01-24 11:28:43 (10.4 MB/s) - ‘MODCF_intraannualSD.tif’ saved [700277890/700277890]

In [ ]:
%%time

da = xr.open_rasterio('../data/MODCF_intraannualSD.tif')

CPU times: user 91.8 ms, sys: 31.8 ms, total: 124 ms
Wall time: 226 ms

In [ ]:
i = 91
da.x.values[i] - da.x.values[i + 1]

-0.008333333333354176

In [ ]:
%%time

da.to_dataframe(name='test')

CPU times: user 22.7 s, sys: 15.4 s, total: 38.1 s
Wall time: 51.2 s

                              test
band y          x
1     89.995833 -179.995833  65535
                -179.987500  65535
                -179.979167  65535
                -179.970833  65535
                -179.962500  65535
...                            ...
     -89.995833  179.962500  65535
                 179.970833  65535
                 179.979167  65535
                 179.987500  65535
                 179.995833  65535

[933120000 rows x 1 columns]